{% extends 'base.html' %}
{% block content %}

    {% for article in article_list %}
        <div class="card mb-3 ">
            {% if user.is_authenticated %}
                <div class="card-body text-end">
                    <a class="btn btn-outline-secondary" href="{% url 'article_update' article.pk %}" >Edit</a>
                    <a class="btn btn-outline-danger" href="{% url 'article_delete' article.pk %}" >Delete</a>
                </div>
            {% endif %}
            <img src="{{ article.image.url }}" class="rounded mx-auto d-block  " alt="..." style="width: 740px; height: 500px">

            <div class="card-body">

                <a class="text-reset" data-bs-toggle="collapse" href="#collapse{{ article.id }}" role="button" aria-expanded="false" aria-controls="collapseExample">
                    <h3 class="card-title text-center">{{ article.title }}</h3>
                </a>

                <div class="collapse" id="collapse{{ article.id }}">
                    <p class="card-text">{{ article.body.html|safe }}</p>
                </div>

                <p class="card-text"><small class="text-muted">{{ article.date }}</small></p>

            </div>
        </div>
    {% endfor %}

    <div class="d-flex justify-content-between grid-img-right mt-4 text-right bg bg1" style="margin-bottom: 50px;">
        {% include 'include/pagination.html' %}
        {% if article_list.count > 1 %}
            <div class="d-flex justify-content-end">

                <form method="GET" >
                       <select name="paginate_by"  id="" style="width: 50px; height: 35px;">
                            <option value="20">10</option>
                            <option value="30">20</option>
                            <option value="50">50</option>
                        </select>
                        <input class="btn btn-outline-secondary" type="submit" value="Paginate" style="margin-bottom: 7.5px;">
                </form>
            </div>
        {% endif %}
    </div>


{% endblock content %}

